################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GenericAttributes/FileContentIndex
/.vs/GenericAttributes/v17
/GenericAttributes/bin
/GenericAttributes/obj
